body{
	background-image: url("../img/dia.jpg");
	background-position: center;
	background-repeat: no-repeat;

}
section{
	height: 700px;
}
.flex-container{
	display: flex;
}
#ñaw.flex-container{
	justify-content: center;
	align-items: flex-end;
}